<div class = "table_header">
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Home")</li>
            <li>@Html.ActionLink("Drilled Holes", "DrilledHoleList")</li>
            <li>@Html.ActionLink("Hole Details", "Hole Details")</li>            
        </ul>
    </nav>
</div>